# Mid Term Task - Machine Learning Class

Name                    : Axel David<br>
NIM                     : 1103210017<br>
Class                   : TK-45-04<br>
Tools                   : Jupyter Notebook<br>
Dataset                 : [Credit score classification](https://www.kaggle.com/datasets/parisrohan/credit-score-classification)<br>
Chat-GPT Documentation  :

### Problem Statement
Imagine working as a data scientist in a global finance company. Over the years, the company has collected basic bank details and gathered a lot of credit-related information. The management wants to build an intelligent system to segregate the people into credit score brackets to reduce the manual efforts.

### Task Goal
Given a person's credit-related information. 
Build machine learning models that can classify the credit score with >95% accuracy using Orange and Python
(1 model minimum)

# ===============================

## Programs

### Import Dataset

In [1]:
# Downloading the Dataset using Kaggle API
!kaggle datasets download -d parisrohan/credit-score-classification

Dataset URL: https://www.kaggle.com/datasets/parisrohan/credit-score-classification
License(s): CC0-1.0
credit-score-classification.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
# Unzipping the Dataset
import zipfile

with zipfile.ZipFile("credit-score-classification.zip", 'r') as zip_ref:
    zip_ref.extractall("Dataset")

print("File unzipped successfully!")

File unzipped successfully!

### Dataset Information

#### Train Data

In [3]:
import pandas as pd

# Read CSV File
train_df = pd.read_csv(r'Dataset\train.csv')
# Show Information
train_df.info()
# Show Head
train_df.head()
# Show Tail
train_df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

C:\Users\axeld\AppData\Local\Temp\ipykernel_52704\1878762977.py:4: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(r'Dataset\train.csv')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

#### Test Data

In [4]:
# Read CSV File
test_df = pd.read_csv(r'Dataset\test.csv')
# Show Information
test_df.info()
# Show Head
test_df.head()
# Show Tail
test_df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
49995,0x25fe5,CUS_0x8600,December,Sarah McBridec,4975,031-35-0942,Architect,20002.88,1929.906667,10,...,12.0,_,3571.7,34.780553,NaN,Yes,60.964772,146.48632477751087,Low_spent_Small_value_payments,275.53956951573343
49996,0x25fee,CUS_0x942c,September,Nicks,25,078-73-5990,Mechanic,39628.99,NaN,4,...,7.0,Good,502.38,27.758522,31 Years and 11 Months,NM,35.104023,181.44299902757518,Low_spent_Small_value_payments,409.39456169535066
49997,0x25fef,CUS_0x942c,October,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,Good,502.38,36.858542,32 Years and 0 Months,No,35.104023,__10000__,Low_spent_Large_value_payments,349.7263321025098
49998,0x25ff0,CUS_0x942c,November,Nicks,25,078-73-5990,Mechanic,39628.99,NaN,4,...,7.0,Good,502.38,39.139840,32 Years and 1 Months,No,35.104023,97.59857973344877,High_spent_Small_value_payments,463.23898098947717
49999,0x25ff1,CUS_0x942c,December,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,_,502.38,34.108530,32 Years and 2 Months,No,35.104023,220.45787812168732,Low_spent_Medium_value_payments,360.37968260123847

### Preprocessing Data

#### Combining Train and Test Datasets

In [5]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
 
# Combine train and test datasets for label encoding
combined_df = pd.concat([train_df, test_df], axis=0)

#### Data Formatting

In [6]:
# Convert month names to numerical values
month_encoder = LabelEncoder()
combined_df['Month'] = month_encoder.fit_transform(combined_df['Month'])

# Split back into train and test datasets
train_df = combined_df.iloc[:len(train_df)]
test_df = combined_df.iloc[len(train_df):].drop(columns=['Credit_Score'])  # Remove 'Credit_Score' from test_df

#### Remove Dupicates

In [7]:
# Remove duplicates
train_df = train_df.drop_duplicates()
test_df = test_df.drop_duplicates()

#### Negative Values

In [8]:
# Check for negative values and replace with NaN
numeric_columns = train_df.select_dtypes(include='number').columns
train_df[numeric_columns][train_df[numeric_columns] < 0] = np.nan
test_df[numeric_columns][test_df[numeric_columns] < 0] = np.nan

C:\Users\axeld\AppData\Local\Temp\ipykernel_52704\1762409266.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[numeric_columns][train_df[numeric_columns] < 0] = np.nan
C:\Users\axeld\AppData\Local\Temp\ipykernel_52704\1762409266.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[numeric_columns][train_df[numeric_columns] < 0] = np.nan
C:\Users\axeld\AppData\Local\Temp\ipykernel_52704\1762409266.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[numeric_columns][test_df[numeric_columns] < 0] = np.nan
C:\Users\axeld\AppData\Local\Temp\ipykernel_52704\1762409266.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[numeric_columns][test_df[numeric_columns] < 0] = np.nan

#### Mising Values

In [9]:
# Impute missing values with mean/mode
train_df.fillna(train_df.mean(numeric_only=True), inplace=True)
test_df.fillna(test_df.mean(numeric_only=True), inplace=True)
train_df.fillna(train_df.mode(numeric_only=True).iloc[0], inplace=True)

# Reset index
train_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)

### Feature Engineering

#### <li>Scaling Numerical Features</li>

In [10]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.feature_selection import mutual_info_classif

# Assuming train_df and test_df are loaded with your datasets

# Define categorical columns excluding 'Credit_Score'
categorical_cols = train_df.select_dtypes(include=['object']).columns.drop(['Credit_Score'])

# Convert numerical values in categorical columns to strings
train_df[categorical_cols] = train_df[categorical_cols].astype(str)
test_df[categorical_cols] = test_df[categorical_cols].astype(str)

# Feature Engineering
# Scaling numerical features
scaler = StandardScaler()
numerical_cols = train_df.select_dtypes(include=['int64', 'float64']).columns
train_df[numerical_cols] = scaler.fit_transform(train_df[numerical_cols])
test_df[numerical_cols] = scaler.transform(test_df[numerical_cols])

# Encoding categorical variables
encoder = OneHotEncoder(drop='first')
encoded_train = pd.DataFrame(encoder.fit_transform(train_df[categorical_cols]).toarray())
encoded_test = pd.DataFrame(encoder.transform(test_df[categorical_cols]).toarray())

# Concatenate with original DataFrame and drop original categorical columns
train_df = pd.concat([train_df, encoded_train], axis=1)
test_df = pd.concat([test_df, encoded_test], axis=1)
train_df.drop(columns=categorical_cols, inplace=True)
test_df.drop(columns=categorical_cols, inplace=True)

# New Features (if applicable)
# For example, you could create a new feature by combining existing ones:
train_df['New_Feature'] = train_df['Feature1'] + train_df['Feature2']
test_df['New_Feature'] = test_df['Feature1'] + test_df['Feature2']

# Mutual Information Scores
# Calculate MI scores between features and target variable
mi_scores = mutual_info_classif(train_df.drop(columns=['Credit_Score']), train_df['Credit_Score'], random_state=42)
mi_scores = pd.Series(mi_scores, name="MI Scores", index=train_df.drop(columns=['Credit_Score']).columns)
mi_scores = mi_scores.sort_values(ascending=False)
print("Mutual Information Scores:")
print(mi_scores)

KeyError: "['Credit_Score'] not in index"

#### <li>Encoding Categorical Variables</li>

In [ ]:
# Encoding categorical variables
# encoder = OneHotEncoder(drop='first')
# categorical_cols = train_df.select_dtypes(include=['object']).columns
# encoded_train = pd.DataFrame(encoder.fit_transform(train_df[categorical_cols]))
# encoded_test = pd.DataFrame(encoder.transform(test_df[categorical_cols]))

TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['float', 'str']